/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    
}

header {
    display: flex; 
    justify-content: center;  
    
}
header ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
}

main .overview-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .learn-about .container .card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.card{
    border: 2px solid black ;
}
img{
    width: 250px;
    height: 250px;
}