/* Add your CSS to this file */
*{
    font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    margin-bottom: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    
}

header {
    display: flex; 
    justify-content: center;  
    background-color: white;
    font-size: 18px;
    
}
header ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

header ul li a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
    padding: 20px;
}

header ul li a:hover {
    color: #5A67D8;
}

main .overview-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .overview-hero{
    background-color: #E2E8F0;
}

main .learn-about .container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

main .learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

main .learn-about h3{
    font-size: 21px;
    color: #48BB78;
}

.card{
    border-color: #E2E8F0 ;
    border-radius: 5px;
    box-shadow: inset;
    padding: 20px;

}

.btn{
    text-decoration: none;
    color: white;
}

main .testing .container .cta{
    background-color: #48BB78;
    border-radius: 5px;
}

main .testing{
    background-color: #4A5568;
}

main .testing .container{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-body a{
    text-decoration: none;
    color: #5A67D8;
    font-size: 18px;
}

main .stories .container article{
    display: flex;
    
}

main .stories .container article img{
    border-radius: 50%;
}

main .newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48BB78;
}

main .newsletter .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

main .newsletter .container form{
    display: flex;
    gap: 10px;
}

.newsletter{
    height: 200px;
}

img{
    width: 250px;
    height: 250px;
}