/* Add your CSS to this file */
*{
    font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

#email{
    width: 630px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

body {
    margin: 0;
    font-size: 16px;
}

main {
    margin: 0px;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header {
    display: flex; 
    justify-content: center;  
    align-items: center;
    background-color: white;
    font-size: 18px;
    height: 60px;
    padding: 20px;
    
}
header ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    color: #6b7280;
    font-weight: bold;
    padding: 20px;
}

.overview-hero{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #E2E8F0;
}

header ul li a:hover {
    color: #5A67D8;
}

main .overview-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .overview-hero .container img{
    padding-right: 25px;
}

main .learn-about{
    padding: 20px;
}

main .learn-about .container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

main .learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

main .learn-about h3{
    font-size: 21px;
    color: #48BB78;
}

.card{
    border: 2px solid;
    border-color: #E2E8F0 ;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;;
    padding: 20px;

}

.btn{
    text-decoration: none;
    color: white;
}



main .testing .container .cta{
    background-color: #48BB78;
    border-radius: 5px;
    width: 15em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .testing{
    background-color: #4A5568;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main .testing .container{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-body a{
    text-decoration: none;
    color: #5A67D8;
    font-size: 18px;
}

main .stories .container article{
    display: flex;
    
}

main .stories .container article img{
    border-radius: 50%;
}

main .stories{
    padding: 20px;
}

main .newsletter{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48BB78;
    color: white;
    
}

main .newsletter .container form .btn{
    background-color: #5A67D8;
    width: 170px;
    border: none;
}

main .newsletter .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

main .newsletter .container form{

    display: flex;
    gap: 10px;
}

.newsletter{
    height: 200px;
}

footer{
    padding: 10px;
    margin: 0;
    height: 60px;
    color: #fff;
    background-color: #4A5568;
}



img{
    width: 250px;
    height: 250px;
}